<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
	metadata-complete="true"
	version="3.1">

	<display-name>jBM - Java Bookmark Manager</display-name>

	<listener>
		<listener-class>de.jwi.jbm.AppContextListener</listener-class>
	</listener>

	<servlet>
		<servlet-name>Controller</servlet-name>
		<servlet-class>de.jwi.jbm.Controller</servlet-class>
	</servlet>

	<servlet>
		<servlet-name>API</servlet-name>
		<servlet-class>de.jwi.jbm.api.API</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>API</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/bookmark/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/bookmarks/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/profile/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/tags/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Controller</servlet-name>
		<url-pattern>/about/*</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>bookmarks/list</welcome-file>
	</welcome-file-list>


	<security-constraint>
		<web-resource-collection>
			<web-resource-name>jBM</web-resource-name>
			<url-pattern>/bookmark/*</url-pattern>
			<url-pattern>/bookmarks/*</url-pattern>
			<url-pattern>/profile/*</url-pattern>
			<url-pattern>/tags/*</url-pattern>
			<url-pattern>/about/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>jBM</role-name>
		</auth-constraint>
	</security-constraint>

	<security-constraint>
		<web-resource-collection>
			<web-resource-name>jBMAPI</web-resource-name>
			<url-pattern>/api/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>jBMAPI</role-name>
		</auth-constraint>
	</security-constraint>


	<login-config>
		<auth-method>BASIC</auth-method>
		<realm-name>jBM Basic Authentication</realm-name>
	</login-config>

	<security-role>
		<role-name>jBM</role-name>
	</security-role>

	<security-role>
		<role-name>jBMAPI</role-name>
	</security-role>

</web-app>
